.flex-container {
    padding: 0 ;
    margin: 0;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: small;
  }

  row {
    width: 10%;
  }

  .flex-item {
    background: silver;
    padding: 0px;
    width: 100px;
    height: 100px;
    margin: 10px;
    line-height: 100px;
    color: black;
    font-weight: bold;
    font-size: 5em;
    text-align: center;
  }

  .flex-item-calc {
    background: silver;
    padding: 0px;
    width: 460px;
    height: 100px;
    margin: 10px;
    line-height: 100px;
    color: black;
    font-weight: bold;
    font-size: 5em;
    text-align: right;
  }



